<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/Desktop/JAVA lerning/GroupThird/src/test/java/uiTest">
        <classes>
            <class name="uiTest.UserTypePageTest">
                <methods>
                    <include name="websiteLoginTest"/>
                    <include name="goToPageUserTypesTest"/>
                    <include name="outDataTable"/>
                    <include name="addRoleUserInTableTest"/>
                    <include name="searchFieldTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>